html{
    font-family: Ubuntu;
}
body{
    background-image: url('https://img.freepik.com/free-vector/stylish-hexagonal-line-pattern-background_1017-19742.jpg?size=626&ext=jpg');
    background-size: contain;
}
input{
    border-radius: 4px;
}
button{
    border-radius: 4px;
}
button:hover{
    box-shadow: 0px 0px 4px;
}
.dropshadow:hover{
    box-shadow: 0px 0px 4px;
}
#topbanner{
    width: 100%;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}
#output{
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.1)
}

a {
    padding: 10px;
    margin: 0.5px;
    border: 2px solid black;
    border-radius: 4px;
    background-color: rgba(222,38,38,1);
    color: black;
    text-decoration: none;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.question{
    background-color: rgba(0,0,0,0.2);
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
}
#evaluation{
    border: 2px solid #333333;
    border-radius: 10px;
    margin-top: 10px;
    background-color: rgba(0,0,0,0.1)
}
.answer{
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 10px;
}
.heading{
    padding-top: 10px;
    padding-left: 5px;
}
